.sidebar {
  padding: 20px;
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
}
.sidebar .pilots-header {
  display: flex;
}
.sidebar .pilots-header h2 {
  flex: 80%;
}
.sidebar .pilots-header .counter {
  flex: 20%;
  padding-top: 20px;
}
.sidebar input,
.sidebar label {
  display: inline;
  margin: 20px 0 0 20px;
}
.sidebar span {
  margin-top: 20px;
}
.sidebar input {
  cursor: pointer;
}
.sidebar .view-all {
  display: block;
  cursor: pointer;
  padding-left: 0;
}
.sidebar .min,
.sidebar .max {
  width: 50px;
  height: 20px;
  text-align: center;
  border: 1px solid #d4d4d4;
  color: #0066FF;
  font-size: 12px;
}
.sidebar .range-values {
  display: flex;
  justify-content: space-between;
}
.sidebar .range-values.min {
  flex: 80%;
}
.sidebar .range-values.max {
  flex: 20%;
}
.filters-counter {
  position: absolute;
  right: 50px;
}
.show-filters-icon {
  margin-left: auto;
  cursor: pointer;
}
.close-filters-icon {
  margin-left: auto;
  cursor: pointer;
}
.sidebar-mobile {
  flex: 100%;
  margin-bottom: 30px;
}
.apply-filters {
  text-align: center;
}
.apply-filters > span {
  font-weight: bold;
}
.noUi-target {
  height: 3px;
  margin-top: 20px;
}
.noUi-connect {
  background-color: #0066FF;
}
.noUi-horizontal {
  height: 3px;
}
.noUi-horizontal .noUi-handle {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background-color: #0066FF;
  top: -5px;
  border: 0;
  box-shadow: none;
  cursor: pointer;
}
.noUi-horizontal .noUi-handle::before {
  display: none;
}
.noUi-horizontal .noUi-handle::after {
  display: none;
}
