.stormtrooper {
  position: relative;
  z-index: 1;
  height: auto;
  display: flex;
  margin: auto;
  width: 100%;
  max-width: 412px;
}
.stormtrooper.single-page {
  max-width: 250px;
  z-index: 3;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.large-text {
  color: #FFFFFF;
  font-family: 'Archivo Black';
  font-style: normal;
  font-weight: normal;
  font-size: 132px;
  line-height: 78.1%;
  position: relative;
  z-index: 2;
}
.top-section-content {
  position: relative;
  box-sizing: border-box;
}
.top-section-content.single-page {
  padding-top: 0;
}
@media (min-width: 0) {
  .top-section-content {
    padding-top: 0;
  }
  .large-text {
    font-size: 60px;
    margin-top: 0;
    position: absolute;
    top: 302px;
  }
  .large-text.single-page {
    position: relative;
    display: block;
    top: 260px;
    margin: 10px;
  }
}
@media (min-width: 600px) {
  .large-text {
    font-size: 80px;
  }
}
@media (min-width: 900px) {
  .large-text {
    font-size: 100px;
    position: relative;
    top: 0;
  }
  .large-text.single-page {
    position: relative;
    max-width: 1000px;
    display: flex;
    margin: auto;
    top: 0;
  }
}
@media (min-width: 1200px) {
  .top-section-content {
    padding-top: 100px;
  }
  .large-text {
    font-size: 132px;
  }
  .large-text.single-page {
    position: relative;
    max-width: 1000px;
    display: flex;
    margin: auto;
    padding-top: 65px;
    top: 0;
  }
}
