// out: ../css/sidebar.css

@black: #212121;
@blue: #0066FF;
@white: #FFFFFF;
@gray: #EAEAEA;

.sidebar {
    padding: 20px;
    border: 1px solid @gray;
    box-sizing: border-box;

    .pilots-header {
        display: flex;
        h2 {
            flex: 80%;
        }
        .counter {
            flex: 20%;
            padding-top: 20px;
        }
    }

    input, label {
        display: inline;
        margin: 20px 0 0 20px;
    }

    span {
        margin-top: 20px;
    }

    input {
        cursor: pointer;
    }

    .view-all {
        display: block;
        cursor: pointer;
        padding-left: 0;
    }

    .min, .max {
        width: 50px;
        height: 20px;
        text-align: center;
        border: 1px solid rgb(212, 212, 212);
        color: @blue;
        font-size: 12px;;
    }

    .range-values {
        display: flex;
        justify-content: space-between;
        &.min {
            flex: 80%;
        }
        &.max {
            flex: 20%;
        }
    }
}

.filters-counter {
    position: absolute;
    right: 50px;
}

.show-filters-icon {
    margin-left: auto;
    cursor: pointer;
}

.close-filters-icon {
    margin-left: auto;
    cursor: pointer;
}

.sidebar-mobile {
    flex: 100%;
    margin-bottom: 30px;
}

.apply-filters {
    text-align: center;
    > span {
        font-weight: bold;
    }
}

.noUi-target {
    height: 3px;
    margin-top: 20px;
}

.noUi-connect {
    background-color: @blue;
}

.noUi-horizontal {
    height: 3px;
}

.noUi-horizontal .noUi-handle {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background-color: @blue;
    top: -5px;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    &::before {
        display: none;
    }
    &::after {
        display: none;
    }
}
